.row {
    display: inline;
    justify-content: center;
    align-items: center;
}

.book {
    border-radius: 5px;
    box-shadow: 0 1px 1px 1px rgb(0 0 0 / 80%);
    padding: 25px;
    margin: 20px;
    transition: all 0.3s ease-out;
    color: white;
    background-color: #1a1a1a;
    display: inline-block;
    justify-content: space-around;
    display: flex;
    border-left: 3px solid #4895ff;
    border-right: 3px solid #4895ff;
}

.testamento {
    box-shadow: 0 1px 1px 1px rgb(0 0 0 / 80%);
    padding: 25px;
    width: 100%;
    transition: all 0.3s ease-out;
    color: white;
    background-color: #1a1a1a;
    justify-content: space-around;
}

.text {
    text-align: center;
}

.book:hover {
    background-color: #202020;
    position: relative;
    top: -1px;
    transition: all 0.5s ease-in-out;
}
   
.book p {
    color: #a3a5ae;
    font-size: 16px;
}

div.content div.row div.book div.text h2 {
    margin-top: 3vh;
}

@media screen and (max-width: 800px) {

    .book {
        display: block;
    }

    .text h2 {
        margin-bottom: 10px;
    }

    div.content div.row div.book div.text h2 {
        margin-top: 0;
    }
    
}