div.cabecalho {
    margin: 0;
    width: 100%;
    height: 50vh;
    display: flex;
    background-color: #1b1b86;
    background-image: url("/images/lago.webp");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}

