.content main.cards {
    display: flex;
    justify-content: center;
    color: #ffffff;
    padding: 40px;
}

.content main.cards section.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #1a1a1a;
    padding: 1rem 1.5rem;
    border-radius: 8px;
    margin-left: 2vw;
    cursor: pointer;
    min-width: 30vw;
    min-height: 150px;
    max-width: 30vw;
    max-height: 270px;
    box-shadow: 0 1px 1px 1px rgb(0 0 0 / 80%);
    border-left: 3px solid #4895ff;
    transition: 0.4s;
}

.content main.cards section.card:hover {
    background-color: #202020;
    position: relative;
    top: -1px;
    transition: all 0.5s ease-in-out;
}

.content main.cards section.card:first-child {
    margin-left: 0;
}

.content main.cards section.card .icons {
    width: 65px;
    height: 65px;
}

.content main.cards section.card img {
    width: 100%;
}

.content main.cards section.card h3 {
    padding: 4px 0;
}

@media screen and (max-width: 1000px) {

    .content main.cards {
        flex-direction: column;
        display: flex;
        padding: 10px;
    }

    .content main.cards section.card {
        margin-left: 0;
        margin-bottom: 32px;
        min-width: 100%;
        min-height: 150px;
        max-width: 100%;
        max-height: 250px;
    }

    .content main.cards section.card span {
        font-size: 15px;
    }

}