div.content div.line {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    margin-top: 15px;
    margin-bottom: 15px;
}

div.content div.line div#chapter {
    box-shadow: 0 1px 1px 1px rgb(0 0 0 / 80%);
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;
} div.content div.line div#chapter:hover {
    cursor: pointer;
    background-color: #2867dd;
    position: relative;
    top: -1px;
    transition: all 0.5s ease-in-out;
}

div.content div.line div#chapter p {
    color: #ffffff;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

@media screen and (max-width: 400px) {
    div.content div.line div#chapter p {
        margin-top: 2px;
        margin-bottom: 2px;
        margin-left: 2px;
        margin-right: 2px;
    }
}