div.content h2#chapter {
    color: #ffffff;
    text-align: center;
    background-color: #000000;
    margin-bottom: 20px;
}

div.content h3.title {
    color: #fff170;
}

div.content h4.verse {
    color: #ffffff;
    margin-bottom: 10px;
    font-family: 'Poppins-Medium';
}