footer {
    height: 30vh;
    width: 100%;
    text-align: center;
    background-color: #000000;
    position: relative;
    bottom: 0;
}

.textos-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    padding-top: 3vh;
}

.textos-footer h5 {
    margin-top: 1vh;
    margin-bottom: 1.5vh;
}

.titulo {
    margin-bottom: 2vh;
}

.tipos {
    display: flex;
}

.tipos h4 {
    display: flex;
    margin-left: 1vw;
} .tipos h4:hover {
    cursor: pointer;
    opacity: 0.7;
}

#logo-footer {
    align-items: center;
    display: flex;
} #logo-footer:hover {
    cursor: pointer;
    opacity: 0.7;
}

#logo-footer img, #text-footer {
    display: inline-block;
}

#sobre {
    color: #ffffff;
} #sobre:hover {
    cursor: pointer;
    opacity: 0.7;
}

@media screen and (max-width:500) {
    .titulo {
        margin-bottom: 1vh;
    }

    texto3 {
        font-size: 10px;
    }

    texto4 {
        font-size: 8px;
    }
}