header.headertop {
    position: fixed;
    z-index: 1;
    width: 100%;
    background-color: rgba(22, 22, 22, 0.7);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

header.headertop nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
}

header.headertop nav div.logo {
    align-items: center;
    display: flex;
    cursor: pointer;
}

header.headertop nav div.logo:hover {
    transition: 0.3s;
    opacity: 0.7;
}

header.headertop nav div.logo img,
#text {
    display: inline-block;
}

header.headertop nav div.logo #text {
    color: #ffffff;
}

header.headertop nav .account {
    align-items: center;
    cursor: pointer;
}

header.headertop nav .account:hover {
    transition: 0.3s;
    opacity: 0.7;
}

header.headertop nav .account img {
    margin-top: 7px;
}

header.headertop nav ul.navlist {
    display: flex;
    list-style: none;
}

header.headertop nav ul.navlist li {
    margin-left: 32px;
}

header.headertop nav ul.navlist li a {
    color: #ffffff;
}

header.headertop nav ul.navlist li a:hover {
    transition: 0.3s;
    opacity: 0.7;
}

div.headerbottom {
    display: none;
}

.content {
    padding-top: 50px;
}

@media screen and (max-width: 850px) {

    header.headertop nav ul.navlist li {
        display: none;
    }

    div.headerbottom {
        display: block;
        position: fixed;
        z-index: 1;
        width: 100%;
        bottom: 10px;
    }

    div.headerbottom nav div.account:hover {
        transition: 0.3s;
        opacity: 0.7;
        cursor: pointer;
    }

    div.headerbottom nav div.logo:hover {
        transition: 0.3s;
        opacity: 0.7;
        cursor: pointer;
    }

    div.headerbottom nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 50px;
        background-color: rgba(22, 22, 22, 0.7);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 15px;
        margin-left: 10px;
        margin-right: 10px;
    }

    div.headerbottom nav div.logo {
        margin-top: 7px;
    }

    div.headerbottom nav div.account {
        margin-top: 7px;
    }

    header.headertop nav div.logo #text {
        color: #ffffff;
    }

}