header {
    width: 100%;
    height: 50px;
    position: fixed;
    z-index: 10;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px);
    border-bottom: 1px solid var(--headertop-bottom-color);
    -webkit-box-shadow: 0px 0px 93px -33px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 93px -33px rgba(0,0,0,0.75);
}
  
header {
    background-color: var(--primary-color);
}

header nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
  
header nav div#personalsection {
    align-items: center;
    display: flex;
}
  
header nav div#personalsection div#account {
    width: 45px;
    height: 45px;
    margin-left: 10px;
    display: flex;
    cursor: pointer;
    transition: 0.8s;
}
  
header nav div#personalsection div#account:hover {
    opacity: 0.7;
}
  
header nav div#personalsection div#account div#icon {
    width: 100%;
    height: 100%;
}
  
header nav div#personalsection div#account div#icon img {
    width: 100%;
    height: 100%;
}
