div#content div#headerwithname {
    display: flex;
    height: 400px;
    justify-content: center;
    align-items: center;
    background-image: url(../images/BoyUsingSmartphone.png);
    background-repeat: no-repeat;
    background-size: contain;
}

div#content div#headerwithname div#texts {
    text-align: center;
}

div#content div#headerwithname div#texts h2 {
    color: var(--primary-text-color-darkmode);
    font-size: 400%;
}

div#content div#headerwithname div#texts h4.line {
    border-right: 2px solid var(--secundary-text-color-darkmode);
    color: var(--secundary-text-color-darkmode);
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
}

.typing-animation {
    animation: blinkCursor 700ms infinite normal,
        typing 4s 1s normal both;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 19em;
    }
}

@keyframes blinkCursor {
    from {
        border-right-color: var(--secundary-text-color-darkmode);
    }

    to {
        border-right-color: transparent;
    }
}