:root {
    --backgroud-color-darkmode: #161616;
    --backgroud-color-whitemode: #d5d5d5;
    --primary-text-color-darkmode: #ffffff;
    --secundary-text-color-darkmode: rgba(255, 255, 255, 0.75);
    --headertop-color-darkmode: rgba(17, 25, 40, 0.75);
    --headertop-bottom-color-darkmode: rgba(255, 255, 255, 0.125);
}

@font-face {
    font-family: "Poppins-Medium";
    font-style: bold;
    src: local('Poppins-Medium'), url('/fonts/Poppins-Medium.ttf') format("truetype");
}

@font-face {
    font-family: "Poppins-SemiBold";
    font-style: normal;
    src: local('Poppins-SemiBold'), url('/fonts/Poppins-SemiBold.ttf') format("truetype");
}

@font-face {
    font-family: "Roboto-Medium";
    font-style: normal;
    src: local('Roboto-Medium'), url('/fonts/Roboto-Medium.ttf') format("truetype");
}

@font-face {
    font-family: "Roboto-Bold";
    font-style: bold;
    src: local('Roboto-Bold'), url('/fonts/Roboto-Bold.ttf') format("truetype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins-SemiBold", "Roboto", Arial;
    text-decoration: none;
}

body {
    background-color: var(--backgroud-color-darkmode);
    overflow-x: hidden;
}