body {
    display: grid;
    place-items: center;
}

main .container {
    display: inline-block;
}

main form {
    border-top: 10vh;
    display: grid;
    place-items: center;
    width: 50vh;
    height: 50vh;
    transition: 0.3s;
    background-color: #212425;
    border-radius: 10px;
    box-shadow: 20px 20px 30px -15px #000000;
}

main form div.sign-in-icon {
    display: grid;
    place-items: center;
}

main form div.sign-in-icon div.img {
    width: 80px;
    height: 80px;
}

main form div.sign-in-icon div.img img#user {
    width: 100%;
    height: 100%;
}

main form #text-sign-in {
    color: #ffffff;
}

main form div.input {
    display: grid;
    place-items: center;
    width: 100%;
    height: 5vh;
    transition: 0.3s;
}

main form div.input input {
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 15px;
    text-align: center;
    background-color: rgba(0, 0, 0,0.4);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    color: #ffffff;
}




/*

#212425

*/